@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100&family=Mukta:wght@500&family=Pacifico&family=Space+Mono&display=swap');

body, html {
    margin: 0;
    height: 100%;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#sri-lanka {
    background-image: url(./img/srilanka.jpg);
    position: relative;
}

.title-overlay {
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -66%);
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    opacity: 0;
    transition: 0.7s all ease;
}

.title-overlay.active {
    opacity: 1;
}

.title {
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    width: 80%;
    font-size: 60px;
    text-shadow: 1px 0 0 lightgray, -1px 0 0 lightgray, 0 1px 0 lightgray, 0 -1px 0 lightgray;
}

#main-title {
    font-size: 80px;
}

#main-title-wrap {
    opacity: 0;
    transition: 1s all ease;
}

#main-title-wrap.active {
    opacity: 1;
}

.subtitle {
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.text-div {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;
}

.text {
    width: 60%;
    font-size: 24px;
    font-family: 'Asap', sans-serif;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.7s all ease;
    color: white;
}

.text.active {
    transform: translateY(0);
    opacity: 1;
}

#place {
    height: 100vh;
}

#ella {
    background-image: url(./img/ella.jpg);
}

#mirissa {
    background-image: url(./img/mirissa.jpg);
}

#sigiriya {
    background-image: url(./img/sigiriya.jpg);
}